p, a, input {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
}

label {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	line-height:1.75;
	font-size:85%;
}

h1, h2, h3, h5 {
	color:#777777;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size:150%;
	font-weight:bold;
}



h4 {
	color:#ffffff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	display:inline;
}

h6.footertext {
	margin-top: 20px;
	font-size:80%;
}

body {
   	background-image:url("../images/seamless_paper_texture.png");
    /*background-color: orange;*/
	}
header {
	background:#ffffff;
	border-color: #cccccc;
	float: left;
	border-bottom-style:solid;
	border-width:2px;
	height:100px;
	width:100%;
}

input {
	margin-top:5px;
	margin-bottom:6px;
	padding-top:3px;
	padding-bottom:5px;
	width:100%;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
}
#messagebox {
	padding:0 0 80px 0;
	margin-top:10px;
	margin-bottom:5px;
	width:100%;
	height:150px;
	box-sizing:border-box;
	color:#777777;
	font-size:80%;
	text-align:left;
}

#submitbutton {
	width:20%;
	color:#ffffff;
	font-size:80%;
	background-color: #4aaaa5;
	text-align: center;
}

.mainsectionheader {
	color: #4aaaa5;
	padding-top:20px;
	padding-bottom:10px;
}

#nameboxcolor {
	color: #ffffff;
}

.aboutmeimage {

	max-width: 140px;
	height:auto;
	float:left;
}


#namebox {
	background-color: #4aaaa5;
	float:left;
	height:50px;
	width:25%;
	padding-top:30px;
	padding-left:10px;
	padding-bottom:20px;
	margin-left:150px;
	text-align: center;

}


#menu {
	float: right;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
padding:50px;
word-spacing:20px;
margin-right:50px;
color: #777777;

}


#aboutme {
width:550px;
height:500px;
background-color: #ffffff;
margin-left:150px;
margin-right:10px;
margin-top:20px;
float: left;
padding-left:50px;
padding-right:50px;
border-color:#dddddd;
border-style:solid;
border-width:2px;
overflow: scroll;
}


#picture {
max-width: auto;
height: auto;
float: left;
padding:20px;
}

#connect {
width:230px;
/*height:20%;*/
float: left;
background-color:#ffffff;
border-color:#dddddd;
text-align: center;
margin-left:20px;
margin-top:20px;
margin-right:20px;
padding:5px;
border-style:solid;
border-width:2px;
color: #777777;
}

#connectruleline {
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:20px;
}


#footer {
	position:absolute;
	bottom:0;
	color: #777777;
	background-color: #666666;
	height:60px;
	width:100%;
	text-align:center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top-color:#4aaaa5;
	border-top-style:solid;
	border-top-width:4px;
	padding-top:10px;

}


#contact {
	width:550px;
	height:500px;
	background-color: #ffffff;
	margin-left:150px;
	margin-right:10px;
	margin-top:20px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;
	
}

#portfolio {
	width:550px;
	height:500px;
	background-color: #ffffff;
	margin-left:150px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	padding-left:50px;
	padding-right:50px;
	border-color:#dddddd;
	border-style:solid;
	border-width:2px;
	overflow: scroll;

} 

.portfoliocontainer {
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
    display: inline-block;
    width:45%;
    height:auto;

}


.portfoliotext {
	position: absolute;
	bottom:5px;
    height: 20%;
    padding-top:15px;
    text-align: center;    
    width: 100%;
    background-color: #4aaaa5;
    color:#ffffff;
  
}

.portfoliopicture {
	display:block;
	height:auto;
	float:left;
	max-width:100%;
    height:auto;
}

#comingsoon {
	text-align:center;
	vertical-align:middle;
	line-height:200%;
}

/*Remove Underlines from Links on Header*/
a:link {
    text-decoration: none;
  
}
a:visited {
    text-decoration: none;
 
}
a:hover {
	color:orange;
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.line-separator{
height:2px;
background:#777777;
width: 450px;
padding-left: 50px;
padding-right: 50px;
margin-bottom:10px;
}

.line-separator-contact{

height:1px;
background:#777777;
width: 40px;
padding-left: 75px;
padding-right: 100px;
margin-bottom:20px;
margin-left:20px;
margin-top:20px;
}